.about {
	display: table;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #fff;
	background-size: 100%;
	background-color: #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	top: 0;
}

.about .about-body {
	display: table-cell;
	vertical-align: middle;
}

.row#aboutrow {
	height: 100%;
	margin-left: 0;
	margin-right: 0;
}

.aboutcategorytitlecontainer {
	text-align: center;
	display: table;
	width: 100%;
	height: 100%;
}

.aboutcategorytitlecontainer .aboutcategorytitle-body {
	display: table-cell;
	vertical-align: middle;
}

.aboutcategorytitle {
	font-size: 50px;
	font-family: 'Oxygen', sans-serif;
}

.aboutcategorytitleimage {
	border: 5px solid white;
}

.row > div {
	height: 100%;
}

.col-md-4.aboutcategory {
	height: 100%;
	background-height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.aboutcategory-description {
	display: none;
}

#aboutcategory-school {
	background: url('/images/rainier_vista.png');
	background-size: 100% 100%;
}

#aboutcategory-work {
	background: url('/images/seattle_skyline.png');
	background-size: 100% 100%;
}

#aboutcategory-personal {
	background: url('/images/rave_picture.png');
	background-size: 100% 100%;

}

#aboutback {
	color: white;
	font-size: 75px;
	float: left;
	opacity: 0;
}

#aboutbackcontainer {
	position: absolute;
	z-index: 300;
	padding-left: 60px;
	padding-top: 30px;
}