$img_size: 150px;
$main_text_color: white;
$elem_container_radius: 10px;

.precis_element {
    color: $main_text_color;
}

a.entity_link {
    color:  $main_text_color;
}

.contact_icon {
    height: $img_size;
    width: $img_size;
    border-radius: $elem_container_radius;
    margin-bottom: 30px;
    margin-top: 30px;
}

@media (min-width: 768px) {
    .entities {
        min-height: 100vh;
    }

    .precis_element {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

@media (max-width: 768px) {
    .precis_element {
        padding-top: 20px;
    }

    .contact_icon {
        display: none;
    }

    .contact_icon_container {
        margin-top: 25px;
        margin-bottom: 25px;
    }
}
