$bootstrap_navbar_collapse_limit: 768px; // From bootstrap (default limit)
$full_name_font: "IBM Plex Sans", sans-serif;
$full_name_color: rgb(255, 255, 255);
$main_content_border_box_pad: 10px;
$main_content_box_opacity: 0;
$main_img_dim: 300px;
$precis_element_box_opacity: 0.4;

#main_landing_img {
    height: $main_img_dim;
    width: $main_img_dim;
    border: 5px solid $full_name_color;
}

#full_name {
    color: $full_name_color;
    font-family: $full_name_font;
    // font-weight: bold;
    font-size: 3em;
}

.main_description {
    color: $full_name_color;
    font-family: $full_name_font;
    font-size: 1em;
}

.descr_emph {
    font-weight: bold;
}

#main_content_box {
    background-color: rgba(0, 0, 0, $main_content_box_opacity);
    padding-top: $main_content_border_box_pad;
    padding-bottom: $main_content_border_box_pad;
}

a:hover {
    color: white;
}

@media (max-width: $bootstrap_navbar_collapse_limit) {
    // Disabling images on small screens
    #main_landing_img {
        height: 200px;
        width: 200px;
        margin-bottom: 20px;
    }

    #full_name {
        color: $full_name_color;
        font-family: $full_name_font;
        // font-weight: bold;
        font-size: 2em;
        text-align: center !important;
    }

    .name_container {
        text-align: center !important;
    }

    .text_content_container {
        text-align: center !important;
        padding-right: 0px;
    }

    #main_content_box {
        padding-right: 0px;
        padding-left: 15px;
    }
}
