$elem_picture_height: 300px;
$elem_container_radius: 10px;

.pub_image {
    height: $elem_picture_height;
    max-width: $elem_picture_height + 50;
    width: $elem_picture_height + 25;
    overflow: hidden;
    float: right;
    border-radius: 0px $elem_container_radius $elem_container_radius 0px;
}

.pub_status {
    font-weight: normal;
}

.authors {
    font-size: 1.1em;
}

.pub_info {
    font-size: 0.9em;
}
