$elem_picture_height: 300px;
$elem_container_radius: 10px;

.work_image {
    height: $elem_picture_height;
    // max-width: $elem_picture_height + 50;
    width: auto;
    overflow: hidden;
    float: right;
    border-radius: 0px $elem_container_radius $elem_container_radius 0px;
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
}
