extends layout

block content
	link(type="text/css" rel="stylesheet" href="stylesheets/404_stylesheet.css")
	div#shitpicture
		p#titletext Well, shit.
		p#titletext1 404 - It looks like this page doesn't exist.
		br
		p#titletext1: a(href="/") Go Home
		img(src="images/well_shit.png")