extends layout

block content
	link(type="text/css" rel="stylesheet" href="stylesheets/about_stylesheet.css")
	script(src="js_files/about_script.js")
	div#menufiller
	p#titletext Hello.
	div#aboutme
		div.aboutbox.leftbox#uw
			span.
				I am currently a sophomore at the
				<a href="http://www.washington.edu" target="_blank" class="link"> University of Washington</a> in Seattle, WA.
				<br>
				<br>
				I intend to expand my <a href="http://en.wikipedia.org/wiki/STEM_fields" target="_blank" class="link">STEM</a> knowledge, by completing coursework in <a href="http://www.math.washington.edu/" target="_blank" class="link">Mathematics</a>, <a href="http://cs.washington.edu" target="_blank" class="link">Computer Science</a>, <a href="https://sharepoint.washington.edu/phys/Pages/default.aspx" target="_blank" class="link">Physics</a>, <a href="http://depts.washington.edu/chem/" class="link" target="_blank">Chemistry</a> and <a href="http://www.biology.washington.edu/" class="link" target="_blank">Biology</a> classes.
			img(src="images/uw_logo.png")
		br
		div.aboutbox.rightbox#wso2
			span.
				In Summer 2014, I interned at <a href="http://wso2.com/" class="link" target="_blank">WSO2</a> in the capacity of a Software Engineering Intern on the <a href="http://stratos.apache.org" class="link" target="_blank">Apache Stratos</a> team.
				<br>
				<br>
				Stratos is WSO2's PaaS (Platform as a Service) solution which they recently <a href="http://wso2.com/landing/stratos-donation-to-apache/" class="link" target="_blank">donated to the Apache Software Foundation</a>. I worked on revamping the UI for the next major release of the product.
			img(src="images/wso2_logo.png")
		br
		div.aboutbox.leftbox#srilanka
			span.
				Originally from <a href="http://www.westlafayette.in.gov/" target="_blank" class="link">West Lafayette, Indiana</a>, I lived in <a href="http://www.yorktownny.org/" target="_blank" class="link">Yorktown Heights, New York</a> before finally moving to <a href="http://en.wikipedia.org/wiki/Colombo" target="_blank" class="link">Colombo, Sri Lanka</a> where I finished my K-12 education.
				<br>
				<br>
				In Colombo, I completed the equivalent of Elementary and Middle School at <a href="http://royalcollege.lk" target="_blank" class="link">Royal College</a>.
			img(src="images/sri_lanka.png")
		br
		div.aboutbox.rightbox#bsc
			span.
				I graduated from <a href="http://britishschool.lk" target="_blank" class="link">The British School in Colombo</a>
				in July 2013.
				<br>
				<br>
				Prior to BSC, I attended 4 schools both in Sri Lanka and the United States which has given me a unique perspective of the world.
			img(src="images/bsc_logo.png")
		br
		div.aboutbox.leftbox#ib
			span.
				I received the <a href="https://www.ibo.org/diploma/" target="_blank" class="link">International Baccalaureate
				Diploma</a> when I graduated from high school.
				<br>
				<br>
				I completed coursework in Higher Level Mathematics,
				Physics and Chemistry as well as in Standard
				Level English, Spanish and Geography.
			img(src="images/ib_logo.png")
		br
		div.aboutbox.rightbox#computers
			span.
				I am very passionate about computers and computer technology in general.
				<br>
				<br>
				From <a href="http://rukmal.weerawarana.org" target="_blank" class="link">a very early age</a>,
				I have demonstrated a keen interest in computers and have since fostered that interest into the skills I have today.
			img(src="images/code_funny.png")
		br
		div.aboutbox.leftbox#conclusion
			span.
				I am a motivated, inspired and driven individual, and I can't wait to make a dent in the Universe.
				<br>
				<br>
				<i>"Because the people who are crazy enough to think they can change the world, are the ones who do."</i>
				<p>Ken Segall and Rob Siltanen, <a href="http://tbwachiatday.com/" target="_blank" class="link">TWBA\Chiat\Day</a></p>
			img(src="images/earthrise.png")
