extends layout

block content
	link(type="text/css" rel="stylesheet" href="stylesheets/home_stylesheet.css")
	script(src="js_files/home_script.js")
	div#introbox
		div#introduction
			div#introtext
				p#introcommand
					|sh-3.2# echo $NAME
					span#cursor _
				b#introname Rukmal Weerawarana
			img#intropicture(src="images/rukmal_splash_bw.png")