html {
	height: 100%;
	width: 100%;
}

#titletext {
	margin-top: -1em;
}

#constructionpicture {
	top: 25%;
	bottom: 25%;
	left: 0;
	right: 0;
	height: 20em;
	position: absolute;
	display: table-cell;
	text-align: center;
	height: 30em;
}

#constructionpicture img {
	text-align: center;
	height: 20em;
}

#footer {
	position: fixed;
}