body {
	background-color: rgb(242,242,242);
}

#titletext {
	margin-top: 0.5em;
	margin-bottom: 1.5em;
}

#contactgrid {
	margin: 0 auto;
	text-align: center;
}

.contactrow {
	display: inline-table;
	margin-bottom: 3em;
}

.img1 {
	float: left;
}

.img2 {
	float: center;
	margin-left: 3em;
	margin-right: 3em;
}

.img3 {
	float: right;
}

.socialicon {
	width: 9em;
}

#footer {
	position: fixed;
}