html {
	height: 100%;
}

#introbox {
	height: 100%;
	display: table;
	margin: 0 auto;
}

#introduction {
	display: table-cell;
	vertical-align: middle;
}

#intropicture {
	height: 30em;
	float: right;
	padding-left: 1.5em;
}

#introtext {
	padding-top: 20%;
	font-family: Courier;
	font-size: 1.6em;
	float: left;
	text-align: left;
	padding-right: 1.5em;
}

#introname {
	font-family: Open Sans, Helvetica, Verdana;
	font-weight: bold;
	font-size: 1.5em;
}

#footer {
	position: fixed;
}