#introbox {
	background-color: rgb(242,242,242);
	position: absolute;
	text-align: center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#introduction {
	display: inline-block;
	height: 100%;
	top: 0;
	bottom: 0;
}

#intropicture {
	height: 45em;
	float: right;
	padding-left: 1em;
}

#introtext {
	font-family: Courier;
	font-size: 1.6em;
	float: left;
	text-align: left;
	padding-right: 1em;
}

#introname {
	font-family: Open Sans, Helvetica, Verdana;
	font-weight: bold;
	font-size: 1.5em;
}

#footer {
	border-top: 1px solid rgb(192,192,192);
	position: fixed;
}