#introbox {
	text-align: center;
	background-color: rgb(242,242,242);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#introduction {
	display: inline-block;
	padding-top: 50%;
}

#intropicture {
	height: 33em;
	float: right;
	padding-left: 1em;
	margin-top: 0.2em;
}

#introtext {
	font-family: Courier;
	font-size: 1.6em;
	float: left;
	text-align: left;
	padding-right: 1em;
	padding-top: 7em;
}

#introname {
	font-family: Open Sans, Helvetica, Verdana;
	font-weight: bold;
	font-size: 1.5em;
}

#footerborder {
	height: 1px;
	border: 2px solid black;
}

#footer {
	position: fixed;
}