extends layout

block content
	link(type="text/css" rel="stylesheet" href="stylesheets/blog_stylesheet.css")
	script(src="js_files/blog_script.js")
	div#constructionpicture
		p#titletext I'm still under construction!
		img(src="images/under_construction.png")