extends layout

block content
	link(type="text/css" rel="stylesheet" href="stylesheets/projects_stylesheet.css")
	script(src="js_files/projects_script.js")
	div#menufiller
	p#titletext Welcome to the shop.
	p#descriptiontext Note: All of my work is <a href="https://www.youtube.com/watch?v=a8fHgx9mE5U" target="_blank" class="link">Open Source</a>. See my <a href="http://github.com/rukmal/" target="_blank" class="link">GitHub</a> for a more comprehensive list.
	div#myprojects
		div.projectbox.leftbox#spotifyinstant
			span.
				<p><a href="http://github.com/rukmal/SpotifyInstant/" target="_blank">Spotify Instant</a></p>
				Instant search for the popular music streaming application <a href="http://spotify.com" target="_blank" class="link">Spotify</a>. It was developed using the <a href="http://developer.spotify.com/" target="_blank" class="link">Spotify API</a>. It is current hosted on <a href="http://herokuapp.com/" class="link" target="_blank">Heroku</a>, using <a href="http://nodejs.org" target="_blank" class="link">Node.js</a>.
				<br>
				<br>
				Try it <a href="http://spotifyinstant.herokuapp.com" class="link" target="_blank">here</a>!
			img(src='./images/spotifyinstant.png')
		br
		div.projectbox.rightbox#uwopendata
			span.
				<p><a href="http://github.com/rukmal/UW-OpenData" target="_blank">UW Open Data</a></p>
				A suite of RESTful APIs for UW services. It currently supports the University of Washington <a href="http://www.washington.edu/home/peopledir/" class="link" target="_blank">Directory</a> and <a href="http://www.washington.edu/students/crscat/" target="_blank" class="link">Course Catalog</a>, which was developed by <a href="http://goel.im" target="_blank" class="link">Karan Goel</a>.
				<br>
				<br>
				This API was developed in Python using <a href="http://flask.pocoo.org/" target="_blank" class="link">Flask framework</a> and <a href="http://gwww.crummy.com/software/BeautifulSoup/" target="_blank" class="link">BeautifulSoup</a>. It was deployed using <a href="http://herokuapp.com" target="_blank" class="link">Heroku</a>.
			img(src='./images/uwopendata_logo.png')
		br
		div.projectbox.leftbox#flappyleapbird
			span.
				<p><a href="http://github.com/rukmal/FlappyLeapBird" target="_blank">Flappy Leap Bird</a></p>
				A new derivation of the webapp implementation of Flappy Bird created by <a href="https://github.com/nebez/floppybird/" target="_blank" class="link">Nebez</a>, which allows the player to control their bird using the <a href="http://leapmotion.com/" target="_blank" class="link">Leap Motion Controller</a>. This application was developed using the <a href="http://deveoper.leapmotion.com/leapjs" target="_blank" class="link">LeapJS</a> API.
				<br>
				<br>
				Try the demo <a href="http://rukmal.github.io/FlappyLeapBird" target="_blank" class="link">here</a>!
			img(src='./images/FlappyLeapBird_logo.png')
		br
		div.projectbox.rightbox#leappong
			span.
				<p><a href="http://github.com/grant/LeapPong" target="_blank">Leap Pong</a></p>
				A multiplayer version of the classic <a href="http://en.wikipedia.org/wiki/Pong" target="_blank" class="link">Pong</a> for the <a href="https://www.leapmotion.com/" target="_blank" class="link">Leap Motion</a>.
				<br>
				<br>
				I developed this application with <a href="http://granttimmerman.com/" target="_blank" class="link">Grant Timmerman</a>, using the <a href="https://developer.leapmotion.com/leapjs/welcome" target="_blank" class="link">Leap Motion JavaScript SDK</a>, <a href="http://nodejs.org/" target="_blank" class="link">Node.js</a> and <a href="http://socket.io/" target="_blank" class="link">Socket.io</a> for latency-free multiplayer capabilities.
			img(src='./images/leappong_logo.png')
		br
		div.projectbox.leftbox#nodeblog
			span.
				<p><a href="http://github.com/rukmal/NodeBlog" target="_blank">NodeBlog</a></p>
				A full web stack blogging platform built on <a href="http://nodejs.org" target="_blank" class="link">Node.js</a>.
				<br>
				<br>
				This platform uses a host of <a href="http://mean.io" target="_blank" class="link">JavaScript frameworks</a>, <a href="http://mongodb.org" target="_blank" class="link">MongoDB</a> and the <a href="http://developers.facebook.com/docs/javascript/" target="_blank" class="link">Facebook JavaScript SDK</a> to implement a fully socially integrated blogging platform, ready for immediate use.
			img(src='./images/NodeBlog_logo.png')
		br
		div.projectbox.rightbox#huskycourseminer
			span.
				<p><a href="http://github.com/rukmal/HuskyCourseMiner" target="_blank">HuskyCourseMiner</a></p>
				A Python API to manipulate data from the official UW Course catalog, which can be found <a href='http://www.washington.edu/students/crscat/' target="_blank" class="link">here</a>.
				<br>
				<br>
				This utility has many applications, and will be used in one of my future projects (Coming soon!).
			img(src="./images/huskycourseminer_logo.png")
		br
		div.projectbox.leftbox#rukmalme
			span.
				<p><a href="http://github.com/rukmal/rukmal.me" target="_blank">http://rukmal.me</a></p>
				You're looking at it right now!
				<br>
				<br>
				http://rukmal.me is built entirely with HTML5, CSS3, JavaScript and the <a href="http://jquery.com/" target="_blank" class="link">jQuery framework</a>.
				<br>
				<br>
				It is hosted on an <a href="http://aws.amazon.com/ec2/" target="_blank" class="link">Amazon EC2 server</a> using <a href="http://nodejs.org/" target="_blank" class="link">Node.js</a>.
			img(src="./images/rukmalme_logo.png")
