extends layout

block content
	link(type="text/css" rel="stylesheet" href="stylesheets/projects_stylesheet.css")
	script(src="js_files/projects_script.js")
	div#menufiller
	p#titletext Welcome to the shop.
	div#myprojects
		div.projectbox.rightbox#huskycourseminer
			span.
				<p><a href="http://github.com/rukmal/HuskyCourseMiner" target="_blank">HuskyCourseMiner</a></p>
				A Python API to manipulate data from the official UW Course catalog, which can be found <a href='http://www.washington.edu/students/crscat/' target="_blank" class="link">here</a>.
				<br>
				<br>
				This utility has many applications, and will be used in one of my future projects (Coming soon!).
			img(src="images/huskycourseminer_logo.png")
		br
		div.projectbox.leftbox#rukmalme
			span.
				<p><a href="http://github.com/rukmal/rukmal.me" target="_blank">http://rukmal.me</a></p>
				You're looking at it right now!
				<br>
				<br>
				http://rukmal.me is built entirely with HTML5, CSS3, JavaScript and the
				<a href="http://jquery.com/" target="_blank" class="link">jQuery framework</a>.
				<br>
				<br>
				It is hosted
				on an <a href="http://aws.amazon.com/ec2/" target="_blank" class="link">Amazon EC2 server</a>
				using <a href="http://nodejs.org/" target="_blank" class="link">Node.js</a> .
			img(src="images/rukmalme_logo.png")
