.about
	.row#aboutbackcontainer
		span.glyphicon.glyphicon-circle-arrow-left#aboutback
	.row#aboutrow
		.col-md-4#aboutcategory-school.aboutcategory
			.aboutcategorytitlecontainer
				.aboutcategorytitle-body
					img(src="/images/uw_logo.png").aboutcategorytitleimage.img-circle
					h1.aboutcategorytitle School
					.aboutcategory-description
						include school
		.col-md-4#aboutcategory-work.aboutcategory
			.aboutcategorytitlecontainer
				.aboutcategorytitle-body
					img(src="/images/coding_image.png").aboutcategorytitleimage.img-circle
					h1.aboutcategorytitle Work
		.col-md-4#aboutcategory-personal.aboutcategory
			.aboutcategorytitlecontainer
				.aboutcategorytitle-body
					img(src="/images/personal_image.png").aboutcategorytitleimage.img-circle
					h1.aboutcategorytitle Personal