.about
	.row
		span.glyphicon.glyphicon-circle-arrow-left#aboutcategoryback
	.row#aboutrow
		.col-md-4#aboutcategory-school.aboutcategory
			h1 School
		.col-md-4#aboutcategory-work.aboutcategory
			h1 Work
		.col-md-4#aboutcategory-personal.aboutcategory
			h1 Personal