body {
	background-color: rgb(242,242,242);
}

.link {
	color: rgb(112,112,112);
}

#descriptiontext {
	text-align: center;
	font-size: 1.3em;
	font-family: "Myriad Pro", Helvetica, Verdana;
	font-style: italic;
}

#myprojects {
	margin: 0 auto;
	text-align: center;
}

.projectbox {
	display: inline-table;
	background-color: rgb(255,255,255);
	margin-top: 3em;
	border-radius: 1.2em;
	box-shadow: 0.1em 0.1em 0.5em rgb(112,112,112);
}

.projectbox span p a {
	color: rgb(80,80,80);
	text-decoration: none;
	font-weight: bold;
	font-size: 1.5em;
	font-family: Monaco;
}

.projectbox span {
	display: table-cell;
	text-align: center;
	font-size: 1.3em;
	font-family: Open Sans, Verdana, Helvetica;
	width: 30em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.projectbox img {
	width: 17em;
}

.leftbox span {
	float: left;
}

.leftbox img {
	float: right;
	border-top-right-radius: 1.2em;
	border-bottom-right-radius: 1.2em;
}

.rightbox span {
	float: right;
}

.rightbox img {
	float: left;
	border-top-left-radius: 1.2em;
	border-bottom-left-radius: 1.2em;
}

#projecteulersolutions span {
	margin-top: 0.35em;
}

#spotifyinstant span {
	margin-top: 0.4em;
}

#uwopendata span {
	margin-top: -0.2em;
}

#flappyleapbird span {
	margin-top: -0.2em;
}

#leappong span {
	margin-top: 0.4em;
}

#nodeblog span {
	margin-top: 0.5em;
}

#huskycourseminer span {
	margin-top: 0.25em;
}

#rukmalme span {
	margin-top: -0.19em;
}

#footer {
	position: static;
}
