doctype HTML
//@author Rukmal Weerawarana
//@email rukmal.weerawarana@gmail.com
html
	head
		link(rel="shortcut icon" href="../images/page_icon.ico")
		link(href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css')
		link(type="text/css" rel="stylesheet" href="stylesheets/about_stylesheet.css")
		link(type="text/css" rel="stylesheet" href="stylesheets/globalstyle.css")
		title Rukmal Weerawarana's World
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
		script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js")
		script(src="js_files/about_script.js")
		script(src="js_files/global_script.js")
	body
		div#menu
			a(href="home.html").link
				div.menuoption Home
			a(href="about.html").link
				div.menuoption About Me
			a(href="files/LINK TO NEW FILE").link
				div.menuoption Projects
			a(href="files/Rukmal_Weerawarana_Resume.pdf").link
				div.menuoption Resume
			a(href="contact.html").link
				div.menuoption Contact
		div#menufiller
		p#titletext Hello.
		div#aboutme
			div.aboutbox.leftbox#uw
				span.
					I am currently a freshman at the 
					<a href="http://www.washington.edu" target="_blank" class="link"> University of Washington</a> in Seattle, WA.
					<br>
					<br>
					I intend to major in <a href="http://www.cs.washington.edu" target="_blank" class="link">Computer Science</a> and
					<a href="http://www.aa.washington.edu" target="_blank" class="link">Aerospace & Astronautical Engineering</a>.
				img(src="images/uw_logo.png")
			br
			div.aboutbox.rightbox#bsc
				span.
					I graduated from <a href="http://britishschool.lk" target="_blank" class="link">The British School in Colombo</a>
					in July 2013.
					<br>
					<br>
					Prior to BSC, I attended 4 schools both in Sri Lanka and the United States which has given me a unique perspective of the world.
				img(src="images/bsc_logo.png")
			br
			div.aboutbox.leftbox#ib
				span.
					I received the <a href="https://www.ibo.org/diploma/" target="_blank" class="link">International Baccalaureate
					Diploma</a> when I graduated from high school.
					<br>
					<br>
					I completed coursework in Higher Level Mathematics,
					Physics and Chemistry as well as in Standard
					Level English, Spanish and Geography.
				img(src="images/ib_logo.png")
		div#footer.
			Designed and developed by Rukmal Weerawarana.