doctype HTML
//@author Rukmal Weerawarana
//@email rukmal.weerawarana@gmail.com
html
	head
		link(rel="shortcut icon" href="../images/page_icon.ico")
		link(href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css')
		link(type="text/css" rel="stylesheet" href="stylesheets/projects_stylesheet.css")
		link(type="text/css" rel="stylesheet" href="stylesheets/globalstyle.css")
		title Rukmal's World
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
		script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js")
		script(src="js_files/projects_script.js")
		script(src="js_files/global_script.js")
	body
		div#menu
			a(href="home.html").link
				div.menuoption Home
			a(href="about.html").link
				div.menuoption About Me
			a(href="projects.html").link
				div.menuoption Projects
			a(href="files/Rukmal_Weerawarana_Resume.pdf").link
				div.menuoption Resume
			a(href="contact.html").link
				div.menuoption Contact
		div#menufiller
		p#titletext Welcome to the shop.
		div#footer.
			Designed and developed by Rukmal Weerawarana.
