<!DOCTYPE html>

<html lang="en">
<head>
    <!-- Meta tags for SEO -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="I am a Research Assistant and recent graduate of the Stevens Institute of Technology. Previously, I attended the University of Washington (Foster School of Business) where I earned a BBA in Finance & Business Economics, and a Certificate in Quantitative Fundamentals of Computational Finance. I have worked at the RPI-IBM HEALS Research Center, UW Hyperloop, Hanlon Financial Systems Lab, and the UW Lunar CubeSAT Team, among other things.">
    <meta name="og:description" content="I am a Research Assistant and recent graduate of the Stevens Institute of Technology. Previously, I attended the University of Washington (Foster School of Business) where I earned a BBA in Finance & Business Economics, and a Certificate in Quantitative Fundamentals of Computational Finance. I have worked at the RPI-IBM HEALS Research Center, UW Hyperloop, Hanlon Financial Systems Lab, and the UW Lunar CubeSAT Team, among other things.">
    <meta name="og:url" content="https://rukmal.me">
    <meta name="og:type" content="website">
    <meta name="og:image" content="https://rukmal.me/images/landing_main.png">
    <meta name="og:image:alt" content="Rukmal Weerawarana at the University of Washington Foster School of Business graduation">
    <title>Rukmal's Homepage</title>
    <!-- Bootstrap Stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- Fonts (Text) -->
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,400,700|Open+Sans" rel="stylesheet">
    <!-- Left-fixed sidebar (see: https://mladenplavsic.github.io/bootstrap-navbar-sidebar/) -->
    <link rel="stylesheet" href="external/css/navbar-fixed-left.min.css">
    <!-- Base stylesheet -->
    <link rel="stylesheet" type="text/css" href="dist/css/base.css" />
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-48259582-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-48259582-1');
    </script>
</head>
<body>
    <!-- RDFLib (https://github.com/linkeddata/rdflib.js/) -->
    <script src="https://cdn.jsdelivr.net/npm/rdflib@0.20.1/dist/rdflib.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <!-- Bootstrap required JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Graph Manager JS Script -->
    <script src="dist/js/graph_manager.js"></script>
    <!-- Base JS Script -->
    <script src="dist/js/main.js"></script>
    <!-- Util JS Script -->
    <script src="dist/js/util.js"></script>
    <!-- Layout JS Script -->
    <script src="dist/js/layouts.js"></script>

    <!-- Navbar -->
    <div class="navbar navbar-expand-md navbar-dark bg-dark fixed-left shadow-lg">
        <!-- Navbar "header" -->
        <!-- <a class="navbar-brand" href>Rukmal W.</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar items -->
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <div class="vertical-center">
                <ul class="navbar-nav text-center">
                    <li class="nav-item" id="home_nav_item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <br>
                    <li class="nav-item" id="education_nav_item">
                        <a class="nav-link" href="/education">Education</a>
                    </li>
                    <br>
                    <li class="nav-item" id="work_nav_item">
                        <a class="nav-link" href="/work">Work</a>
                    </li>
                    <br>
                    <li class="nav-item" id="projects_nav_item">
                        <a class="nav-link" href="/projects">Projects</a>
                    </li>
                    <br>
                    <li class="nav-item" id="talks_nav_item">
                        <a class="nav-link" href="/talks">Talks</a>
                    </li>
                    <br>
                    <li class="nav-item" id="publications_nav_item">
                        <a class="nav-link" href="/publications">Publications</a>
                    </li>
                    <br>
                    <li class="nav-item" id="ka_nav_item">
                        <a class="nav-link" href="/knowledge_areas">Knowledge Areas</a>
                    </li>
                    <br>
                    <li class="nav-item" id="contact_nav_item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="content">
        {{ content }}
    </div>

    <div class="fixed-bottom shadow-lg" id="pagefooter">
        <div class="container">
            <a class="text-secondary" href="http://git.rukmal.me/rukmal.me"><span rel="popover" data-dbpedia="http://dbpedia.org/resource/Open-source_software">Open Source</span></a> Project licensed under the <a class="text-secondary" href="http://git.rukmal.me/rukmal.me/blob/gh-pages/LICENSE"><span rel="popover" data-dbpedia="http://dbpedia.org/resource/MIT_License">MIT License</span></a>.
            Made with <i class="fas fa-heart" style="color: red;"></i> in <a class="text-secondary" href="https://goo.gl/maps/P8YcdgABB8Dupftp9"><span rel="popover" data-dbpedia="http://dbpedia.org/resource/Seattle">Seattle, WA</span></a>.
        </div>
        <span class="helper_icon"><a class="text-secondary" href="#" data-toggle="modal" data-target="#site_help_modal"><i class="fas fa-question-circle"></i></a></span>
    </div>

    <div class="modal fade" id="site_help_modal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="helpModalLabel">More information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <b><i>How does this work?</i></b>
                    <br>
                    This website is powered by the <a href="https://precis.rukmal.me/ontology">Precis Ontology</a> for modeling personal professional metadata, which is a part of the greater <a href="https://precis.rukmal.me">Precis Toolkit</a>. The website is statically served using <a href="https://pages.github.com/">GitHub Pages</a>.
                    <br>
                    <br>
                    With the exception of the <a href="/">homepage</a> and the <a href="/contact">contact</a> page, all pages are generated at runtime on the client side. This operation is performed by loading a copy of my <a href="https://github.com/rukmal/Resume/blob/gh-pages/personal_data.rdf">personal Precis ontology</a> on the client side, and extracting information from the graph using <a href="https://www.w3.org/TR/sparql11-overview/"><span rel="popover" data-dbpedia="http://dbpedia.org/resource/SPARQL">SPARQL</span></a>.
                    <br>
                    <br>
                    The <span rel="popover" data-dbpedia="http://dbpedia.org/resource/SPARQL">SPARQL</span> queries used for this purpose are consolidated in a single <span rel="popover" data-dbpedia="http://dbpedia.org/resource/JavaScript">JavaScript</span> module, and are available <a href="https://github.com/rukmal/rukmal.me/blob/gh-pages/dist/js/graph_manager.js">from the project repository</a>. Additionally, the <span rel="popover" data-dbpedia="http://dbpedia.org/resource/JavaScript">JavaScript</span> module handling page layouts is also <a href="https://github.com/rukmal/rukmal.me/blob/gh-pages/dist/js/layouts.js">available here</a>.
                    <br>
                    <br>
                    Certain nodes in the graph are linked to external <span rel="popover" data-dbpedia="http://dbpedia.org/resource/Ontology_(information_science)">Knowledge Graph</span> entities from <a href="https://wiki.dbpedia.org/"><span rel="popover" data-dbpedia="http://dbpedia.org/resource/DBpedia">DBpedia</span></a>. When an object with an associated <span rel="popover" data-dbpedia="http://dbpedia.org/resource/DBpedia">DBpedia</span> entity is moused over, a popover is displayed with information from that entity's <span rel="popover" data-dbpedia="http://dbpedia.org/resource/DBpedia">DBpedia</span> resource.
                    <br>
                    <br>
                    As with the core page layout process, this operation is also enabled by <span rel="popover" data-dbpedia="http://dbpedia.org/resource/SPARQL">SPARQL</span> queries to the <a href="https://wiki.dbpedia.org/OnlineAccess">DBpedia SPARQL server</a>, with results added to the page dynamically on the client side. The source code used for this operation is available <a href="https://github.com/rukmal/rukmal.me/blob/gh-pages/dist/js/global_handlers.js">here</a>.
                    <br>
                    <br>
                    This is an <span rel="popover" data-dbpedia="http://dbpedia.org/resource/Open-source_software">Open Source</span> project, and source code is available <a href="https://git.rukmal.me/rukmal.me">on GitHub</a>.
                    <br>
                    <br>
                    <b><i>Acknowledgements</i></b>
                    <br>
                    <ul>
                        <li><a href="https://getbootstrap.com/">Bootstrap Framework</a> (<a href="https://github.com/orgs/twbs/people">Bootstrap team</a>)</li>
                        <li><a href="https://github.com/mladenplavsic/bootstrap-navbar-sidebar">bootstrap-navbar-sidebar</a> (<a href="https://mladenplavsic.github.io/">Mladen Plavsic</a>)</li>
                        <li><a href="https://www.flaticon.com">Icons from Flaticon</a> (<a href="https://www.freepik.com/?__hstc=57440181.3398adc8f1f9801cf25ab37e466264ec.1561574858354.1561574858354.1561586731875.2&__hssc=57440181.29.1561586731875&__hsfp=2749702422">Freepik</a>)</li>
                        <li><a href="https://jquery.com/">jQuery</a> (<a href="https://jquery.org/team/">jQuery Foundation</a>)</li>
                        <li><a href="https://github.com/VincentGarreau/particles.js">particles.js</a> (<a href="https://vincentgarreau.com/en">Vincent Garreau</a>)</li>
                        <li><a href="http://linkeddata.github.io/rdflib.js/doc/">rdflib.js</a> (<a href="https://solid.mit.edu/">MIT Project Solid</a>)</li>
                        <li><a href="https://github.com/ghosh/uiGradients">uiGradients</a> (<a href="https://www.ghosh.io/">Indrashish Ghosh</a>)</li>
                    </ul>
                    <b><i>License</i></b>
                    <br>
                    <!-- <div class="text-center"> -->
                        <pre class="license">

The MIT License (MIT)

Copyright (c) 2019 Rukmal Weerawarana

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
                        </pre>
                    <!-- </div> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Base Event Handlers -->
    <script src="dist/js/global_handlers.js"></script>

</body>

</html>
